body
{
  background-color:rgb(251, 251, 106);
  overflow-x:hidden ;
  height:100px;
}
.thealphabets h1
{
  font-size: 40px;
  color: red;
  text-align: center;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}
div#bH {
  position: absolute;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #EA047E;
  z-index: 2;
}
audio#baH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#cH {
  position: absolute;
  left:250px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #5cea04;
  z-index: 2;
}
audio#caH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#dH {
  position: absolute;
  left:500px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #ffbc03;
  z-index: 2;
}
audio#daH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#fH {
  position: absolute;
  left:750px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #03abff;
  z-index: 2;
}
audio#faH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#gH {
  position: absolute;
  left:980px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #e603ff;
  z-index: 2;
}
audio#gaH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#hH {
  position: absolute;
  left:1220px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #03ff70;
  z-index: 2;
}
audio#haH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#jH {
  position: absolute;
  top:250px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #F4B183;
  z-index: 2;
}
audio#jaH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#kH {
  position: absolute;
  top:250px;
  left:250px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #39B5E0;
  z-index: 2;
}
audio#kaH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#lH {
  position: absolute;
  top:250px;
  left:510px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #A31ACB;
  z-index: 2;
}
audio#laH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#mH {
  position: absolute;
  top:250px;
  left:750px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #1acb93;
  z-index: 2;
}
audio#maH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#nH {
  position: absolute;
  top:250px;
  left:980px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #ffcc00;
  z-index: 2;
}
audio#naH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#pH {
  position: absolute;
  top:250px;
  left:1220px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #ff008c;
  z-index: 2;
}
audio#paH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#qH {
  position: absolute;
  top:400px;
  left:0px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #ADA2FF;
  z-index: 2;
}
audio#qaH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#rH {
  position: absolute;
  top:400px;
  left:250px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #FF7B54;
  z-index: 2;
}
audio#raH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#sH {
  position: absolute;
  top:400px;
  left:520px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #539165;
  z-index: 2;
}
audio#saH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#tH {
  position: absolute;
  top:400px;
  left:750px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #DF2E38;
  z-index: 2;
}
audio#taH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#vH {
  position: absolute;
  top:400px;
  left:980px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #82CD47;
  z-index: 2;
}
audio#vaH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#wH {
  position: absolute;
  top:400px;
  left:1220px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #00FFD1;
  z-index: 2;
}
audio#waH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#xH {
  position: absolute;
  top:550px;
  left:0px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #FBB454;
  z-index: 2;
}
audio#xaH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#yH {
  position: absolute;
  top:550px;
  left:250px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #00FFC6;
  z-index: 2;
}
audio#yaH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
div#zH {
  position: absolute;
  top:550px;
  left:520px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
  font-size: 135px;
  text-align:center;
  font-family: 'Paytone One', sans-serif;
  color: #06FF00;
  z-index: 2;
}
audio#zaH {
  position: absolute;
  top:85px;
  left: 125px;
  z-index: 2;
  opacity:0.01;
}
@media only screen and (max-width: 768px) 
{
  div#bH {
    position: absolute;
    top: 140px;
    left:-90px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #EA047E;
    z-index: 2;
  }
  audio#baH {
    position: absolute;
    top:45px;
    left: 125px;
    z-index: 2;
    opacity:0.01;
  }
  div#cH {
    position: absolute;
    left:60px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #5cea04;
    z-index: 2;
  }
  audio#caH {
    position: absolute;
    top:45px;
    left: 125px;
    z-index: 2;
    opacity:0.01;
  }
  div#dH {
    position: absolute;
    left:220px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #ffbc03;
    z-index: 2;
  }
  audio#daH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#fH {
    position: absolute;
    top:400px;
    left:-95px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color:#03abff ;
    z-index: 2;
  }
  audio#faH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#gH {
    position: absolute;
    top: 400px;
    left:60px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #e603ff;
    z-index: 2;
  }
  audio#gaH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#hH {
    position: absolute;
    top: 400px;
    left:220px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #03ff70;
    z-index: 2;
  }
  audio#haH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#jH {
    position: absolute;
    top: 500px;
    left:-99px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #F4B183;
    z-index: 2;
  }
  audio#jaH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#kH {
    position: absolute;
    top:500px;
    left:60px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #39B5E0;
    z-index: 2;
  }
  audio#kaH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#lH {
    position: absolute;
    top:500px;
    left:220px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #A31ACB;
    z-index: 2;
  }
  audio#laH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#mH {
    position: absolute;
    top:600px;
    left:-90px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #1acb93;
    z-index: 2;
  }
  audio#maH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#nH {
    position: absolute;
    top:600px;
    left:60px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #ffcc00;
    z-index: 2;
  }
  audio#naH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#pH {
    position: absolute;
    top:600px;
    left:220px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #ff008c;
    z-index: 2;
  }
  audio#paH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#qH {
    position: absolute;
    top:700px;
    left:-90px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #ADA2FF;
    z-index: 2;
  }
  audio#qaH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#rH {
    position: absolute;
    top:700px;
    left:60px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #FF7B54;
    z-index: 2;
  }
  audio#raH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#sH {
    position: absolute;
    top:700px;
    left:220px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #539165;
    z-index: 2;
  }
  audio#saH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#tH {
    top:800px;
    position: absolute;
    left:-90px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #DF2E38;
    z-index: 2;
  }
  audio#taH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#vH {
    position: absolute;
    top: 800px;
    left:60px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #82CD47;
    z-index: 2;
  }
  audio#vaH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#wH {
    position: absolute;
    top:800px;
    left:220px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #00FFD1;
    z-index: 2;
  }
  audio#waH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#xH {
    position: absolute;
    top:900px;
    left:-90px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #FBB454;
    z-index: 2;
  }
  audio#xaH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#yH {
    position: absolute;
    top: 900px;
    left:60px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #00FFC6;
    z-index: 2;
  }
  audio#yaH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
  div#zH {
    position: absolute;
    top:900px;
    left:220px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 1;
    font-size: 85px;
    text-align:center;
    font-family: 'Paytone One', sans-serif;
    color: #06FF00;
    z-index: 2;
  }
  audio#zaH {
    position: absolute;
    top:45px;
    left: 120px;
    z-index: 2;
    opacity:0.01;
    width:130px;
  }
}


